[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"

[packages]
cassandra-driver = "*"
pandas = "*"
numpy = "*"

[requires]
python_version = "3.6"
